@font-face {
    font-family: 'Roboto Thin';
    src: local('Roboto Thin'), url(./fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: local('Roboto Regular'), url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Caveat';
    src: local('Caveat'), url(./fonts/Caveat/Caveat-VariableFont_wght.ttf) format('truetype');
}

body {
	background-color: rgb(22, 105, 120);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bar{
    width: 1200px;
    margin-top: 40px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}

.profile{
    padding: 20px;
}

.profile_name {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Caveat', sans-serif;
    font-size: 92px;
}

.profile_infos{
    text-align: left;
    margin: 75px 150px;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 28px;
    color:white;
}

.profile_menu{
    margin-bottom: 35px;
}

.profile_menu p{
    text-align: center;
    margin: 20px 100px 20px 1050px;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 30px;
    color: grey;
    border: 2px solid grey;
    background-color: white;
    opacity: 50%;
    border-radius: 10px;
}

.iconDisplay{
    padding: 20px;
    display: flex;
    background-color: rgb(173, 173, 173);
}

.titleBlue{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-left: 50px;
    color: black;
}

.titleGreen{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-left: 50px;
    color: white;
}

.subtitle{
    font-family: 'Roboto Thin', sans-serif;
    font-size: 32px;
    margin-left: 50px;
}

.imgDisplay{
    display: flex;
    margin: 0 300px;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: white;
    border-radius: 10px;
}

.imgDisplay img{
    padding: 12px;
}

.imgSizing{
    height: 50px;
    width: 50px;
}

.progLangName{
    text-align: center;
}

.certifDisplay{
    padding: 20px;
    background: linear-gradient(rgb(22, 105, 120), rgb(255, 255, 255), rgb(255, 255, 255));
}

.diplome{
    border: 1px solid black;
    padding: 30px;
    margin: 10px 10px 10px 75px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(101, 142, 150);
}

.diplome:hover{
    background-color: rgb(22, 105, 120);
}

.diplomeTitle{
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.diplomeDisplay{
    display: flex;
}

.certifDisplay div{
    margin-left: 50px;
}

.PBContainer{
    width: 300px;
    height: 20px;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 30px;
    border: 1px solid black;
}

.PBFillerAnglais{
    margin-left: 0 !important;
    height: 100%;
    width: 91.5%;
    background-color: rgb(22, 105, 120);
    border-radius: inherit;
    padding-right: 0;
    text-align: left;
}

.PBFillerEspagnol{
    margin-left: 0 !important;
    height: 100%;
    width: 70%;
    background-color: rgb(22, 105, 120);
    border-radius: inherit;
    padding-right: 0;
    text-align: left;
}

.langueDisplay{
    margin-left: 50px;
    display: flex;
}

.langueDisplay p{
    margin-left: 50px;
    font-weight: bold;
}

.expBlocDisplay{
    text-align: center;
}

.exp{
    opacity: 50%;
    color: white;
}

.expActive{
    opacity: 100%;
    margin: 35px 0;
    color: white;
}

.expHidden{
    opacity: 0;
}

.experience{
    background-color: rgb(80, 138, 80);
    padding: 20px;
}

.arrowDisplay{
    display: flex;
    margin-left: 450px;
}

.arrows{
    width: 50px;
    margin: 100px 30px;
}

.arrowSizing{
    width: 50px;
    height: 50px;
}

.contactDisplay{
    padding: 20px;
    background-color: rgb(96, 124, 96);
}