@font-face {
    font-family: 'Roboto Thin';
    src: local('Roboto Thin'), url(./fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}

body{
    margin: 0;
    padding: 0;
}

.profile{
    padding: 20px;
    background-color: #c5ffd2;
}

.profile_name {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 68px;
}

.profile_infos{
    text-align: left;
    margin-left: 75px;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 28px;
}

.profile_menu p{
    text-align: center;
    color: black;
    margin: 20px 100px 20px 1050px;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 30px;
    border: 2px solid grey;
    background-color: #e2ffdd;
    opacity: 50%;
    border-radius: 10px;
}

.iconDisplay{
    padding: 20px;
    background-color: lightgrey;
}

.title{
    font-family: 'Roboto Thin', sans-serif;
    font-size: 38px;
    margin-left: 50px;
}

.subtitle{
    font-family: 'Roboto Thin', sans-serif;
    font-size: 24px;
    margin-left: 50px;
}

.imgDisplay{
    display: flex;
    margin-left: 50px;
}

.imgDisplay img{
    padding: 10px;
}

.imgSizing{
    height: 100px;
    width: 100px;
}

.progLangName{
    text-align: center;
}

.certifDisplay{
    padding: 20px;
    background-color: #c5ffd2;
}

.diplome{
    background-color: lightgrey;
    border: 1px solid grey;
    padding: 30px;
    margin: 10px 10px 10px 75px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.diplomeTitle{
    font-size: 26px;
    font-weight: bold;
}

.diplomeDisplay{
    display: flex;
}

.certifDisplay div{
    margin-left: 50px;
}

.PBContainer{
    width: 300px;
    height: 20px;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 50px;
}

.PBFiller{
    margin-left: 0 !important;
    height: 100%;
    width: 91.5%;
    background-color: grey;
    border-radius: inherit;
    padding-right: 0;
    text-align: left;
}

.langueDisplay{
    margin-left: 50px;
}

.langueDisplay p{
    margin-left: 50px;
}

.expBlocDisplay{
    text-align: center;
    margin: 35px 0;
}

.exp{
    opacity: 50%;
    margin: 35px 0;
}

.expActive{
    opacity: 100%;
    margin: 35px 0;
}

.expHidden{
    opacity: 0;
    margin: 35px 0;
}

.experience{
    background-color: lightgrey;
    padding: 20px;
}

.arrowDisplay{
    display: flex;
    margin-left: 450px;
}

.arrows{
    width: 50px;
    margin: 150px 30px;
}

.arrowSizing{
    width: 50px;
    height: 50px;
}

.contactDisplay{
    padding: 20px;
    background-color: #c5ffd2;
}