#contact{
    padding: 1.25em;
    background-color: black;
}

.contact_infos{
    color: white;
    font-family: 'Roboto Thin', sans-serif;
    margin-left: 5em;
    font-size: 1.125em;
}

.github{
    display: flex;
    justify-content: right;
}

@media(max-width: 700px){
    #contact{
        padding: 2em 0;
    }

    .github{
        margin-top: 3em;
        justify-content: center;
    }

    .contact_infos{
        margin-left: 1em;
    }
}

@media screen and (min-width: 1920px){
    .contact_infos{
       font-size: 1.75em;
    }
}